<% include ./partials/header.ejs %>

<div class="container" style="width: 50%; margin: 0 auto">
	
</div>

<div class="container paddingTopBottom">
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-3 text-center">
			  <div class="card-header" style="background-color: #6A8A82; color: white; font-size: 2rem;"><i class="fas fa-lock">	</i>Forgot Password</div>
			  <div class="card-body 	">
			    <div class="row">
			    	<div class="col-lg-6" style="margin: 0 auto">

			    		<form action="/forgot" method="POST">
							<h3>Reset Password</h3> 
						  <!-- <div class="form-group">
						    <label for="exampleInputEmail1">Old Password</label>
						    <input type="password" class="form-control" id="oldPass" aria-describedby="emailHelp" placeholder="Enter old password" name="oldPass">
						    <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
						  </div> -->
						  <div class="form-group">
						    <label for="newPass1">Enter your email</label>
						    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
						    <small id="emailHelp" class="form-text text-muted">We'll send you a link to reset your password</small>
						  </div>
						 
						  <button type="submit" class="btn btn-primary">Submit</button>
						</form>
			    		
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
</div>